.register-page {

    min-height:100vh;

    background-image:
    linear-gradient(
    rgba(0,0,0,.65),
    rgba(0,0,0,.65)),
    url("../../sections/images/register-bg.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;

}

.register-container{

    width:1100px;

    display:grid;

    grid-template-columns:1fr 1fr;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(18px);

    border-radius:25px;

    overflow:hidden;

    box-shadow:
    0 15px 50px rgba(0,0,0,.5);

}

.register-left{

    color:white;

    padding:70px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.register-left h1{

    color:#d4a373;

    letter-spacing:4px;

    margin-bottom:20px;

}

.register-left h2{

    font-size:3rem;

    line-height:1.2;

    margin-bottom:25px;

}

.register-left p{

    color:#ddd;

    line-height:1.8;

    font-size:1rem;

}

.register-card{

    background:white;

    padding:60px;

}

.register-card h2{

    text-align:center;

    margin-bottom:35px;

    color:#2d1b14;

}

.register-card form{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.register-card input{

    padding:16px;

    border:none;

    border-radius:10px;

    background:#f4f4f4;

    font-size:16px;

}

.register-card input:focus{

    outline:2px solid #d4a373;

}

.register-card button{

    padding:16px;

    background:#d4a373;

    color:#222;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:17px;

    font-weight:bold;

    transition:.3s;

}

.register-card button:hover{

    transform:translateY(-3px);

    box-shadow:0 10px 20px rgba(212,163,115,.4);

}

.register-card p{

    text-align:center;

    margin-top:25px;

}

.register-card a{

    margin-left:8px;

    color:#d4a373;

    text-decoration:none;

    font-weight:600;

}