.reviews-page{

    min-height:100vh;

    background:linear-gradient(
    180deg,
    #fffaf5,
    #f5ede4,
    #ece0d1);

    padding:90px 8%;

    text-align:center;
}

.reviews-small-title{

    color:#8b5e3c;

    letter-spacing:3px;

    font-weight:700;

    margin-bottom:10px;
}

.reviews-title{

    font-size:48px;

    color:#3E2723;

    margin-bottom:90px;
}

.reviews-container{

    display:flex;

    justify-content:center;

    gap:45px;

    flex-wrap:wrap;
}

.review-card{

    width:340px;

    background:#fff;

    border-radius:35px;

    padding:80px 35px 35px;

    position:relative;

    box-shadow:
    0 15px 40px rgba(0,0,0,.12);

    transition:.4s;
}

.review-card:hover{

    transform:translateY(-15px);

    box-shadow:
    0 25px 50px rgba(0,0,0,.18);
}

.review-image{

    width:130px;

    height:130px;

    border-radius:50%;

    object-fit:cover;

    position:absolute;

    left:50%;

    transform:translateX(-50%);

    top:-65px;

    border:7px solid white;

    box-shadow:
    0 10px 25px rgba(0,0,0,.2);
}

.review-card h2{

    color:#3E2723;

    margin-bottom:18px;

    font-size:32px;
}

.review-card p{

    color:#666;

    line-height:1.8;

    font-size:18px;

    min-height:170px;
}

.review-stars{

    width:150px;

    margin:auto;

    margin-top:25px;

    background:#8B5E3C;

    color:white;

    padding:12px;

    border-radius:50px;

    font-size:22px;

    box-shadow:
    0 12px 25px rgba(139,94,60,.4);
}

@media(max-width:900px){

.reviews-title{

font-size:34px;

}

.review-card{

width:100%;
}

}