.details-page{
    min-height:100vh;
    background:#f5ede4;
}

.details-image{
    position:relative;
}

.details-image img{
    width:100%;
    height:360px;
    object-fit:cover;
}

.back-btn{
    position:absolute;
    top:20px;
    left:20px;

    width:45px;
    height:45px;

    border:none;
    border-radius:50%;

    background:white;
    font-size:22px;
    cursor:pointer;
}

.details-card{

    margin-top:-30px;

    background:white;

    border-radius:30px 30px 0 0;

    padding:30px;
}

.title-row{

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.title-row h2{

    color:#3b2416;
}

.rating{

    color:#d28720;
    font-weight:bold;
}

.subtitle{

    color:#777;
    margin-bottom:25px;
}

.description{

    color:#666;
    line-height:1.7;
    margin:15px 0 30px;
}

.sizes{

    display:flex;
    gap:15px;
    margin:20px 0 40px;
}

.sizes button{

    width:60px;
    height:45px;

    border:2px solid #d6b07f;

    background:white;

    border-radius:12px;

    cursor:pointer;
}

.sizes button.active{

    background:#d28720;

    color:white;

    border:none;
}

.bottom{

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.price-title{

    color:#777;
}

.buy-btn{

    border:none;

    background:#d28720;

    color:white;

    padding:15px 45px;

    border-radius:30px;

    font-size:18px;

    cursor:pointer;
}

.buy-btn:hover{

    background:#b86d10;
}